.container {
    text-align: center;
    align-items: center;
    align-content: center;
}

.boton {
    border: none;
    color: white;
    text-align: center;
    background-color: black;
    cursor: pointer;
    border-radius: 5px;
}

.canvas {
    border: 1px solid black;
}

.cuadrado.uno {
    width: 250px;
    height: 200px;
    border: 4px solid black;
    margin: 15px;
    display: inline-block !important;
    background-color: blue;
}

.cuadrado.dos {
    background-color: green;
    display: inline-block !important;
    width: 180px;
    height: 150px;
}

.moving {
    background-color: red !important;
}